*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* =================menu =-==========*/
.parent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;            
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    font-weight: bold;
    font-size: 20px; 
    background-color: #67ad03;  
}
.div1>a{
    padding: 10px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.main-menu{
    background-color: #67ad03;
    border-radius: 20px;
}
/* ===== đổi màu khi di chuột vào====== */
.nav ul li a:hover{
    color: white;
}
/* ==========col-7============ */
.col-7{
    padding-left: 20px;
    border-top: 2px solid rgb(169, 184, 195);
}
/* === */
.trendau>p>label{
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.trendau>h3{
    padding-top: 10px;
}
.trendau>p>input{
    width: 100%;
    border: 2px solid rgb(169, 184, 195);
}
.trendau>p>label span{
    color: red;
}
/* === */
.giua>p>label{
    display: block;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}
.giua>p>label span{
    color: red;
}
.giua>p>input{
    display: block;
    width: 50%;
    border: 2px solid rgb(169, 184, 195);
}
.giua>p>select{
    display: block;
    width: 50%;
    border: 2px solid rgb(169, 184, 195);
}
.ghichu>textarea{
    width: 100%;
    height: 100px;
    border: 2px solid rgb(169, 184, 195);
}
/* ===========col-5============= */
.col-5{
    padding-left: 13px;
    height: 623px;
}
.col-5>div{
    border: 2px solid greenyellow;
    width: 100%;
    height: 100%;
}
table th{
    width: 75%;
}
/* ===========Đơn hàng của bạn============= */
.donhang{
    padding: 20px;
}
.parent-name{
    padding:15px 7.2px 15px 0px;
}
.parent-total{
    padding:15px 0px 15px 15px;
}
.giaohang th{
    color: #666666;
}
/* ==thanh toan==== */
.btn-primary{
    width: 100%;
}
.btn-primary a{
    color: black;
    font-weight: bold;
}
/* ===phuong phap thanh taon==== */
.checkbox li{
    list-style-type: none;
    padding: 10px;
}
.checkbox li label{
    font-weight: bold;
}
/* ======footer====== */
#ket ul li{
    list-style-type: none;
}
#ket ul li a{
    color: black;
}
#ket ul{
    padding: 0;
}
#ket h4:hover{
    color: red;
} 
footer .row{
    background-color: #e5e9ec;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
}
footer .row>div{
    margin-top: 5px;
}