a{
    text-decoration: none;
}

/* =================menu =-==========*/
.parent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;   
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.div1>a{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
/* ====================== */
/* ============= */
.table-active>thead tr th{
    padding: 10px;
}
.table-active>tbody tr td{
    padding: 10px;
    
}
/* ============= */
.div{
    display: flex;
    justify-content: space-between;
}
/* =========== */
.btn-success {
    background-color: white;
    margin: 10px;
}
.btn-success a{
    color: black;
    font-weight: bold;
}
/* ============== */
.btn-primary{
    width: 100%;
    margin-top: 20px;
}
.btn-primary a{
    color: white;
    font-weight: bold;
}
