a{
    text-decoration: none;
    color: black;
}
.div1>a{
    font-size:30px;
    font-weight: bold;
}
/* =================menu =-==========*/
.parent{
    display: flex;
    justify-content: space-evenly;   
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
/* =============== */
/* ====================== */
.container {
    width: 80%;
    margin: 0 auto;
}
.col-12{
    display: flex;
}
.card{
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.card:hover img{
    transform: scale(1.2);
}
.div{
    padding: 10px;
}
.box{
    margin-top: 5px;
    margin-bottom: 5px;
}
.small{
    display: block;
    color: #67ad03;
    font-weight: bold;
}
.box a{
    display: block;
}
.row{
    padding: 10px;
}