a{
    text-decoration: none;
}
/* =================menu =-==========*/
.parent{
    display: flex;
    justify-content: space-evenly;   
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: black;
}