a{
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 15px;
    display: block;
}
/* =================menu =-==========*/
.parent{
    display: flex;
    justify-content: space-evenly;   
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
/* ====================== */
/* ======================= */

/* ====================== */
.card{
    width: 250px;
}
.col-9{
    display: flex;
}
.small{
    color: #67ad03;
    font-weight: bold;
}
/* ============ */
