a{
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 15px;
    display: block;
}
.container{
    width: 90%;
}
/* =================menu =-==========*/
.parent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    font-weight: bold;
    font-size: 20px; 
    background-color: #67ad03;  
}
.div1>a{
    padding: 10px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.main-menu{
    background-color: #67ad03;
    border-radius: 20px;
}

/* ===== đổi màu khi di chuột vào====== */
.nav ul li a:hover{
    color: white;
}
/* =========img========== */
/* =========== chuyển động của ảnh============ */
.m-1>div:hover img{
    transform: scale(1.2);  
}
.m-1>div{
    overflow: hidden;
    transition-duration: 0.3s;
}
/* =========col-8============= */
/* ===== dáu gạch  */
.title_01 { 
    display: block;
    font-size: 1.15rem;
    padding: 0 0 0 10px;
    line-height: 1.3;
    font-weight: bold;
    margin: 10px 5px;
    border-left: 6px solid #bff0a3;
}
/* ========= */
.p-1>a{
    margin-top: 20px;
}
/* ===tieu de===== */
.tieude>div{
    display: block;
}
.tieude>div>a{
    font-weight: bold;
}
.tieude{
    display: flex;
    justify-content: space-between;
}
/*  */
.card{
    width: 240px;
}
.p-1>span{
    display: block;
    color: #67ad03;
    font-weight: bold;
}
.p-1>a{
    display: block;
    overflow: hidden;
    width: 300px;
    height: 50px;

}

/* ======footer====== */
#ket ul li{
    list-style-type: none;
}
#ket ul{
    padding: 0;
}
#ket h4:hover{
    color: red;
} 
footer .row{
    background-color: #e5e9ec;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
}
footer .row>div{
    margin-top: 5px;
}