a{
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 15px;
    display: block;
}
.container{
    width: 90%;
}
/* =================menu =-==========*/
.parent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    font-weight: bold;
    font-size: 20px; 
    background-color: #67ad03;  
}
.div1>a{
    padding: 10px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.main-menu{
    background-color: #67ad03;
}
/* =========col-4============= */

/* ===========img============ */
.m-1>div:hover img{
    transform: scale(1.2);  
}
.m-1>div{
    overflow: hidden;
    transition-duration: 0.5s;
}
/* =========col-8============= */
/* ===tieu de===== */
.tieude>div{
    display: block;
}
.tieude>div>a{
    font-weight: bold;
}
.tieude{
    display: flex;
    justify-content: space-between;
}
/*  */
.card{
    width: 240px;
}
.small{
    color: #67ad03;
    font-weight: bold;
}
/* ======= */

/* ============ */
